<!DOCTYPE html>
<html>
<head>
  <title>Контакти</title>
  <style>
    .container {
      display: flex;
      align-items: center;
      margin-top: 50px;
    }

    .image {
      flex: 0 0 30%;
      padding-right: 20px;
    }

    .contact-info {
      flex: 1;
    }

    .contact-info h2 {
      margin-top: 0;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="image">
    <img src="/assets/contact.png" style="width: 400px" alt="Зображення">
  </div>
  <div class="contact-info" style="margin-left: 20px">
    <h2>Контактна інформація</h2>
    <h4>Email: johndoe@example.com</h4>
    <h4>Телефон: 123-456-7890 (Мар'ян)</h4>
    <h4>Адреса: вул. Прикладна, 1, Івано-Франківськ, Україна</h4>
  </div>
</div>
</body>
</html>